@using WebApp.ViewModels
@model ProjectsViewModel 

@{
	Layout = "_PortalLayout";
	ViewData["Title"] = "Projects";
}


<section class="project-items-list ">
	@if (Model.Projects.Any()) {
		@foreach (var project in Model.Projects)
		{
			@await Html.PartialAsync("Partials/_ProjectListItem", project)
		}
	}
	else
	{
		<p>No projects </p>
	}
</section>

@await Html.PartialAsync("Partials/_AddProjectModal", Model.AddProject)
@await Html.PartialAsync("Partials/_EditProjectModal", Model.EditProject)

@section Scripts {
	<script src="~/js/validate.js"></script>
} 