@model WebApp.Models.Project

@* Tror jag ska ta in Project istället för EditProjectFormModel för att visa ut
	Vet ej om EditProjectFormModel behövs för POST här? Kan ej ta in två
	Tror inte det då formuläret skickas till POST som tar in en EditProjectFormModel
*@

@if (Model == null)
{
	<div class="alert alert-danger">Model is null!</div>
}

<div id="editProjectModal" class="modal">
	<div class="modal-content">

		<div class="modal-header">
			<h3>Edit Project</h3>
			<button type="button" class="btn-close" data-close="true" style="display: flex"></button>
		</div>
		<div class="modal-icon">
			<img src="/images/project-logo.svg" alt="Alternate Text" />
		</div>
		<form novalidate method="post" asp-action="EditProject" asp-controller="Projects">
			<input asp-for="Id" readonly type="hidden" />

			<div class="form-group mb-3">
				<label asp-for="ProjectName" class="form-label"></label>
				<div class="field-group">
					<input asp-for="@Model.Form.ProjectName" class="form-control" value="@Model?.ProjectName" />
					<span asp-validation-for="ProjectName" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group mb-3">
				<label asp-for="ClientName" class="form-label"></label>
				<div class="field-group">
					<input asp-for="ClientName" class="form-control" />
					<span asp-validation-for="ClientName" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group mb-3">
				<label asp-for="Description" class="form-label"></label>
				<div class="field-group">
					<input asp-for="Description" class="form-control pb-5" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
			</div>

			<div class="d-flex justify-content-between">
				<div class="form-group mb-3">
					<label asp-for="StartDate" class="form-label"></label>
					<div class="field-group datewidth">
						<input asp-for="StartDate" type="date" class="p-2 form-control" />
						<span asp-validation-for="StartDate" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group mb-3">
					<label asp-for="EndDate" class="form-label"></label>
					<div class="field-group datewidth">
						<input asp-for="EndDate" type="date" class="p-2 form-control" />
						<span asp-validation-for="EndDate" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="form-group mb-3">
				<label asp-for="Budget" class="form-label"></label>
				<div class="field-group">
					<input asp-for="Budget" class="form-control" />
					<span asp-validation-for="Budget" class="text-danger"></span>
				</div>
			</div>

			<button type="submit" class="btn btn-blue">Save</button>
		</form>

	</div>

</div>

@* @await Html.PartialAsync("_ValidationScript") *@