@model Project
<div id="moreOption" class="more-modal-sm">

	<div class="more-modal-sm-content">
		<div class="more-modal-sm-top">
			<button class="edit-project-btn" data-project-id="@Model.Id" data-modal="true" data-target="#editProjectModal-@Model.Id" data-mode="edit">
				<img src="~/images/Edit.svg" alt="Alternate Text" />
				<div>Edit</div>
			</button>
		</div>
		<div class="more-modal-sm-bottom">
			<button>
				<img src="/images/Delete.svg" />
				<div>Delete</div>
			</button>
		</div>
	</div>
</div>