@model Project

<div class="project-item mt-4">
	<div class="project-item-top">
        <img src="images/project-logo.svg">
        <div class="mt-1">
            <h6>@Model.ProjectName</h6>
            <p>Client Name</p>
  
        </div>
        <div>
            <button class="more-button"><img src="images/more.svg" alt=""></button>
        </div>
    </div>
    <p class="p-4 pt-0">Description</p>
</div>