@model Project

<div class="project-item mt-4">
	<div class="project-item-top">
        <img src="/images/project-logo.svg">
        <div class="mt-1">
            <h6>@Model.ProjectName</h6>
            <p>@Model.ClientName</p>
  
        </div>
        <div>
            @await Html.PartialAsync("Partials/_MoreOptionModal")
            <button data-modal="true" data-target="#moreOption" class="more-button"><img src="/images/more.svg" alt=""></button>
        </div>
    </div>
    <p class="p-4 pt-0">@Model.Description</p>
</div>