<div id="userInfoModal" class="modal-sm">
	<div class="modal-sm-content">
		<div class="modal-sm-top">
		<div><img src="~/images/avatar.svg" alt="Alternate Text" /></div>
		<div>User here</div>
	</div>
		<div class="modal-sm-bottom">
			<button><img src="/images/Logout.svg"/>Logout</button>

		</div>
	</div>
</div>